<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Projects Page</title>
</head>
<body>
	<% include partials/header %>
	<p>project page text would go here</p>

	<% include partials/footer %>
</body>
</html>